<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-12 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100 align-just">
                    <h4 class="text-primary">Esta Tela será exclusiva para o Bispo Diocesano e seus Auxiliares, vedado enviar para demais membros do clero. Para cada tipo de membro do clero terá uma página especifica com suas vestes</h4>
                    <h1 class="display-4 mb-4">Vestes Litúrgicas</h1>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Coroinhas (Não há em nossa diocese)</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Seminaristas</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Diáconos</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Padres</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Cônegos (Não há em nossa diocese)</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Monsenhores (Não há em nossa diocese)</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Bispo</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Cardeal</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Celebrações Diocesanas</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->