<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-12 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100 align-just">
                    <h4 class="text-primary">Esta Tela será exclusiva para o Bispo Diocesano e seus Auxiliares, vedado
                        enviar para demais membros do clero. Para cada tipo de membro do clero terá uma página
                        especifica com suas vestes</h4>
                    <h1 class="display-4 mb-4">Vestes Litúrgicas</h1>
                    <table class="table table-hover table-striped">
                        <thead>
                            <th scope="col">Descrição</th>
                            <th scope="col">Link</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Coroinhas (Não há em nossa diocese)</th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Seminaristas</th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/1YSbmkvidokJNWwu0QAABeFK8y4LlCxFf?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Diáconos</th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/18kWYKHFsbawEyX3DDMmifN_VTOfLIWAc?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Padres
                                </th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/1iS9p4J6dWiQr4cZMtrZHQBG2OC9rtsgI?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Cônegos (Não há em nossa diocese)</th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Monsenhores (Não há em nossa diocese)</th>
                                <td>
                                    -
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de Bispo
                                </th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/1LndIOHPR85RJMNG69EPD1Ieej70JB1jG?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Cardeal</th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/1LmDrkz6rMZ7HxratnSRU58dhEvs2QjDG?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Celebrações Diocesanas</th>
                                <td>
                                    <a ng-href="#" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Ordenação Diaconal</th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/1xnuQqyGDvTo0cvyAC7zQxL1K-gF94Qdd?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fa fa-check text-primary me-3"></i>Vestes Litúrgicas de
                                    Ordenação Presbiteral</th>
                                <td>
                                    <a ng-href="https://drive.google.com/drive/folders/190XBIFRAE4c1_qtZSmLG8NEG9kB5POZA?usp=drive_link" target="_blank">
                                        <button type="button" class="btn btn-primary btn-sm btn-floating"
                                            data-mdb-ripple-init>
                                            <i class="fas fa-link"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->